.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0.4rem;
    width: 97%;
    align-items: center;
    height: 2rem;
    z-index: 999;
    background-color:  #EC4C8A;
}
.nav-link{
    text-decoration: none;
}